{% extends 'index.html' %}
{% block content %}
<div><h1>{{ post.title }}</h1></div>
<div>Created at {{ post.created_at }}</div>
<div>Updated at {{ post.updated_at }}</div>
<div>{{ post.body }}</div>
{% endblock content %}